html,
body {
	height: 100%;
	text-align: center;
	margin: auto;
}

body>.container-fluid
{
	margin-top: 20px!important;
}

.chartName {
	display: none;
}

.chartHolder {
	width: 95%;
	height: 650px;
	margin: auto;
}

.chartDiv {
	width: 100%;
	height: 100%;
}
