html,
body {
	height: 100%;
	text-align: center;
	margin: auto;
}

body>.container-fluid
{
	margin-top: 20px!important;
}

.chartName {
	display: none;
}

.chartHolder, .legendHolder {
	width: 100%;
	height: 650px;
	margin: auto;
}

.chartDiv, .legendDiv {
	width: 100%;
	height: 100%;
}

.legendHolder {
	max-height: 120px;
	overflow-x: none;
	overflow-y: auto;
}
